<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Отчеты</h1>


<a href="/app/report/attendance" class="btn btn-primary">Отчет по посещаемости</a>
<br>
<br>
<a href="/app/report/semester-attendance?startDate=2023-12-01&endDate=2024-06-15" class="btn btn-primary">Отчет за семестр</a>
<br>
<br>
<a href="/app/report/teacher" class="btn btn-primary">Отчет по преподавателям</a>
<br>
<br>
<a href="/app/report/monitor" class="btn btn-primary">Отчет по старостам</a>


</body>
</html>